<h1>Showing all articles</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
        <tr>
            <td scope="row"><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td><%= link_to "Show", article_path(article) %></td>
        </tr>
    <% end %>
    </tbody>
</table>